---
import { getI18n, LANGUAGES } from "@utils/i18n";

const { lang } = getI18n(Astro.params.lang);
const { pathname } = Astro.url;

// Видаляємо поточний мовний префікс зі шляху
const pathWithoutLang = pathname.startsWith(`/${lang}`) ? pathname.replace(`/${lang}`, '') || '/' : pathname;

---
<button id="dropdown-lang-button" data-dropdown-toggle="dropdown-lang" class="flex items-center justify-center p-2 text-sm font-medium text-gray-900 rounded-full cursor-pointer bg-gray-100 hover:bg-gray-200 dark:text-white dark:bg-gray-800 dark:hover:bg-gray-700" type="button">
  {lang.toUpperCase()}
</button>

<!-- Dropdown -->
<div id="dropdown-lang" class="z-50 hidden my-4 text-base list-none bg-white divide-y divide-gray-100 rounded-lg shadow dark:bg-gray-700">
  <ul class="py-2 font-medium" role="none">
    {LANGUAGES.map(languageCode => (
      <li>
        <a 
          href={`/${languageCode}${pathWithoutLang}`} 
          class:list={[
            "block px-4 py-2 text-sm",
            lang === languageCode 
              ? "text-blue-600 dark:text-blue-400 bg-gray-100 dark:bg-gray-600" 
              : "text-gray-700 hover:bg-gray-100 dark:text-gray-400 dark:hover:bg-gray-600 dark:hover:text-white"
          ]}
          role="menuitem"
        >
          {languageCode.toUpperCase()}
        </a>
      </li>
    ))}
  </ul>
</div>
